*
{
    margin: 0;
    padding: 0;
}
.mLink 
{
color : green;
text-shadow:0ch;
text-decoration: none;
}
.mLink:hover
{
    color:brown;
    text-decoration:underline;
}

.mLink:visited
{
    color:grey;
}
input
{
    color: gray;
}
input:focus
{
    color: blue;
}

#block
{
background-color: yellow;
height: 300px;
width: 300px;
border: 5px solid silver;
border-bottom: 0;
border-radius: 20px 50%;
margin: 20px;
padding: 10px;
}

body
{
    background-color: aliceblue;
}
#Header
{
    width: 100%;
    height: 70px;
    background: #7c3659;
    border-bottom: 5px solid #e786b7;
    text-align: center;
    line-height: 70px;
    color: #e786b7;
    margin-bottom: 20px;
    float: left;
}

#foother
{
    width: 100%;
    height: 70px;
    background: #7c3659;
    border-top: 5px solid #e786b7;
    text-align: center;
    line-height: 70px;
    color: #e786b7;
    margin-top: 20px;
    float: left;
}

#main_
{
width: 70%;
height: 100%;
margin-left: 2%;
background: #b191a1;
border: 3px solid #e786b7;
border-radius: 10px;
padding: 20px;
color:#7c3659; 
float: left;
}

#bok
{
    width: 20%;
    height: 100%;
    margin-right: 2%;
    background: #b191a1;
border: 3px solid #e786b7;
border-radius: 10px;
padding: 20px;
color:#7c3659; 
float: right;
}
 
.photo
{
    border: 3px solid #e786b7;
    border-radius: 10px;
    float: left;
}

#cnock
{
    width: 20%;
    height: 30px;
    background-color: #7c3659;
    color: #e786b7;
    border: 1px solid #e786b7;
    border-radius: 10px;
    float:right;
}

#cnock:hover
{
    text-decoration:underline;
}
#Test
{
    width: 70%;
    height: 100%;
    margin-top: 2%;
    margin-left: 2%;
    background: #b191a1;
    border: 3px solid #e786b7;
    border-radius: 10px;
    padding: 20px;
    color:#7c3659; 
    float: left;
    }